:root {
  --svh-100: 100vh;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #58534f;

  --font-stack-sans: "Favorit", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  --font-stack-mono: "GT Pressura Pro Mono", monospace;

  --container-padding-inline: 1.875rem;
}

@media (--md) {
  :root {
    --container-padding-inline: 6.25rem;
  }
}

@supports (height: 100svh) {
  :root {
    --svh-100: 100svh;
  }
}
