---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Paperfox Studio</title>
  </head>
  <body class="fluid-font-t5">
    <h1 class="sr-only">Paperfox Studio</h1>
    <div class="intro-background">
      <figure class="logo-wrapper">
        <picture class="logo">
          <source
            media="(max-width: 48em) and (orientation: portrait)"
            srcset="logo.svg"
          />
          <source
            media="(min-width: 48em), (orientation: landscape)"
            srcset="logo-large.svg"
          />
          <img srcset="logo-large.svg" alt="" />
        </picture>
      </figure>
    </div>
  </body>
</html>

<style>
  .intro-background {
    --clip-diameter: 45vmin;
    --clip-x: 75%;
    --clip-y: 50%;
    background: var(--color-grey);
    clip-path: circle(
      calc(var(--clip-diameter) / 2) at var(--clip-x) var(--clip-y)
    );
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--svh-100);
    padding-inline: 1.875rem;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  @media (--md) {
    .logo-wrapper {
      padding-inline: 6.25rem;
    }
  }
</style>
