---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/paperfox/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Paperfox Studio</title>
  </head>
  <body>
    <h1>Paperfox Studio</h1>
    <figure class="logo-wrapper">
      <picture class="logo">
        <source
          media="(max-width: 639px) and (orientation: portrait)"
          srcset="/paperfox/logo.svg"
        />
        <source
          media="(min-width: 640px), (orientation: landscape)"
          srcset="/paperfox/logo-large.svg"
        />
        <img srcset="/paperfox/logo-large.svg" alt="" />
      </picture>
    </figure>
  </body>
</html>

<style>
  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-inline: 1.875rem;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  @media (min-width: 40em) {
    .logo-wrapper {
      padding-inline: 6.25rem;
    }
  }
</style>
