---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Paperfox Studio</title>
  </head>
  <body class="font-t5">
    <h1 class="sr-only">Paperfox Studio</h1>
    <Navigation />
    <section class="intro__section">
      <header class="intro__header">
        <p class="font-t6">Hi - we're Paperfox</p>
        <h2 class="font-t1 intro__heading">We make<br />websites.</h2>
        <a class="anchor intro__link" href="#about-us">Tell me more ↓</a>
      </header>
      <div class="intro__background">
        <picture class="intro__logo">
          <source
            media="(max-width: 48em) and (orientation: portrait)"
            srcset="logo.svg"
          />
          <source
            media="(min-width: 48em), (orientation: landscape)"
            srcset="logo-large.svg"
          />
          <img srcset="logo-large.svg" alt="" />
        </picture>
      </div>
    </section>
  </body>
</html>

<style>
  .intro__section {
    height: var(--svh-100);
    display: flex;
    align-items: flex-end;
  }

  .intro__header {
    padding: 0 1.875rem 20vh;
    width: 100%;
  }

  .intro__heading {
    margin-block-start: 1.25rem;
  }

  .intro__link {
    display: inline-block;
    margin-block-start: 1.875rem;
  }

  .intro__background {
    --clip-diameter: 45vmin;
    --clip-x: 75%;
    --clip-y: 50%;
    background: var(--color-grey);
    clip-path: circle(
      calc(var(--clip-diameter) / 2) at var(--clip-x) var(--clip-y)
    );
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro__logo {
    width: 80vw;
  }

  @media (--md) {
    .intro__section {
      align-items: center;
    }

    .intro__header {
      padding: 0 6.25rem;
    }

    .intro__heading {
      margin-block-start: 2.5rem;
    }

    .intro__link {
      margin-block-start: 4.0625rem;
    }

    .logo__wrapper {
      padding-inline: 6.25rem;
    }
  }
</style>
