---
import BaseLayout from "../layouts/BaseLayout.astro";
import IntroSection from "../components/IntroSection.astro";
import AboutUsSection from "../components/AboutUsSection.astro";
---

<BaseLayout pageTitle="Paperfox Studio">
  <main>
    <IntroSection class="snap" />
    <AboutUsSection class="snap" />
  </main>
</BaseLayout>

<style>
  .snap {
    scroll-snap-align: start;
  }
</style>
