---
const { title } = Astro.props;
---

<nav class="nav" aria-label="main navigation">
  <a aria-label="Homepage" href="/" class="logo-link">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 37"
      ><g fill="none"
        ><path
          fill="#FFF"
          d="M24.65 35.94c0 .6-.46 1.06-1.05 1.06h-2.9c-.58 0-1.04-.47-1.04-1.06V1.06c0-.6.46-1.06 1.05-1.06h9.46c6.04 0 10.96 5 10.96 11.11 0 6.13-4.92 11.12-10.96 11.12h-4.93c-.33 0-.52.2-.52.53v13.18h-.07zm.52-30.88c-.32 0-.52.2-.52.53V16.7c0 .34.2.54.52.54h4.93a6.08 6.08 0 0 0 5.98-6.06c0-3.33-2.7-6.06-5.98-6.06h-4.93v-.06zM65.9 35.94c0 .6-.46 1.06-1.05 1.06h-2.89c-.59 0-1.05-.47-1.05-1.06V1.06c0-.6.46-1.06 1.05-1.06H79.3c.6 0 1.05.47 1.05 1.06V4c0 .6-.46 1.07-1.05 1.07H66.35c-.33 0-.52.2-.52.53v9.52c0 .33.2.53.52.53h12.42c.59 0 1.05.46 1.05 1.06v2.93c0 .6-.46 1.07-1.05 1.07H66.42c-.33 0-.53.2-.53.53v14.7z"
        ></path><path fill="#00FF96" d="M0 9.47h100v15.48H0z"></path></g
      ></svg
    >
  </a>
  <button>Menu</button>
</nav>

<style>
  .nav {
    position: fixed;
    left: 0.625rem;
    top: 0.625rem;
    right: 0.3125rem;
    display: flex;
    justify-content: space-between;
  }

  .logo-link {
    width: 3rem;
    height: 1.125rem;
  }

  @media screen and (--md) {
    .nav {
      top: 1.875rem;
      left: 1.25rem;
      right: 0.625rem;
    }

    .logo-link {
      width: 3.75rem;
      height: 1.375rem;
    }
  }
</style>
